*{
    margin: 0;
}

.sub-label{
    display: block;
}

.form__group{
    display: flex;
}

.group{
    padding: 11px;
}

.subject__group{
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    border: 1px solid;
}

.background{
    width: 100%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.images{
    max-width: 510px;
    min-height: 350px;
}
