*{
    margin: 0;
}

.panel{
    display: flex;
    flex-direction: column;
    position: absolute;
}

.sub-label{
    display: block;
}

.form__group{
    display: flex;
}

.group{
    padding: 11px;
}

.subject__group{
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    border: 1px solid;
}

.panel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
    width: 100%;

}
